# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
python==3.11.4

# Once installed and activated, please run
# pip install --user gym imageio matplotlib scipy numpy jupyter
